*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head__wrapper{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper{
    transform: rotate(-90deg);
}
.wrapper__img{
    margin-top: 50px;
    width: 100%;

}
.about__me{
    margin-top: 100px;
    align-items: center;
    text-align: center;
    background: #F6F6F6;
    img{
        margin-top: 18px;
    }
}
.skil{
    margin-top: 91px;
    text-align: center;
    p{
        margin-top: 50px;
    }
}
.skil__ul{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p{
        margin-top: 20px;
    }
    img{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 500px){
    .head__wrapper{
        display: flex;
        flex-direction: column;
      }
      .denis{
        text-align: left;
      }
      .wrapper{
        display: none;
      }
      .desinger{
        text-align: left;
      }
}